{{>header}}

<section class="bankData">
  <h1 class="titleProfile">Card data</h1>

  <form class="payment-form" style="width: 25%;">
    <div id="card-element" style="margin: 30px;"></div>
    <div class="paymentButtons">
      <button class="button redButton submitDelete" id="cancel-payment">Cancel Payment</button>
      <button
        type="submit"
        class="button buy submitUpdate"
        id="submit-payment"
        data-cart-id="{{user.cart}}"
      >Pay</button>
    </div>
  </form>

</section>

<script src="https://js.stripe.com/v3/"></script>
<script src="/js/products-cart/checkout.js"></script>
<script src="/js/products-cart/cart.js"></script>