<!-- cart.hbs -->

{{#each products}}
  <div class="product">
    <h2>{{title}}</h2>
    <p>Código: {{code}}</p>
    <p>Precio: {{price}}</p>
    <!-- Agregar más detalles según sea necesario -->
  </div>
{{/each}}