<form action="/api/session/login" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>

        <input type="submit" value="Login">
        <a href="/api/session/github">Github</a>
    </form>

        <script type="module" src="../../middleware/token.cookie.js"></script>
