
  {{> header}}
  <h1>All products</h1>
  {{#if products}}
  <div class="card-container">
{{#each products}}

        <div class="card">

 <div class="image"></div>
  <div class="content">
    <a href="#">
      <span class="title">
        {{this.title}}
      </span>
    </a>

    <p class="desc">
      {{this.description}}
    </p>

    <a class="action" href="/products/{{this._id}}">
      Details
      <span aria-hidden="true">
        →
      </span>
    </a>
  </div>
</div>
      {{/each}}
  </div>
      
  {{else}}
    <p>No hay productos disponibles.</p>
  {{/if}}
